{
	"global_skip_cols": [
		"Unnamed: 0",
		"gameId",
		"nflId",
		"playId",
		"after_pass_mean_dir_off",
		"after_pass_mean_dist_def",
		"after_pass_mean_dist_off",
		"after_pass_mean_speed",
		"after_pass_mean_x",
		"after_pass_mean_y",
		"after_pass_var_dir_off",
		"after_pass_var_dist_def",
		"after_pass_var_dist_off",
		"after_pass_var_speed",
		"after_pass_var_x",
		"after_pass_var_y",
		"at_mid_ratio",
		"at_pass_ratio",
		"at_snap_ratio",
		"before_pass_mean_dir_off",
		"before_pass_mean_dist_def",
		"before_pass_mean_dist_off",
		"before_pass_mean_speed",
		"before_pass_mean_x",
		"before_pass_mean_y",
		"before_pass_var_dir_off",
		"before_pass_var_dist_def",
		"before_pass_var_dist_off",
		"before_pass_var_speed",
		"before_pass_var_x",
		"before_pass_var_y",
		"before_snap_mean_dir_off",
		"before_snap_mean_dist_def",
		"before_snap_mean_dist_off",
		"before_snap_mean_speed",
		"before_snap_mean_x",
		"before_snap_mean_y",
		"before_snap_var_dir_off",
		"before_snap_var_dist_def",
		"before_snap_var_dist_off",
		"before_snap_var_speed",
		"before_snap_var_x",
		"before_snap_var_y",
		"between_snap_pass_mean_dir_off",
		"between_snap_pass_mean_dist_def",
		"between_snap_pass_mean_dist_off",
		"between_snap_pass_mean_speed",
		"between_snap_pass_mean_x",
		"between_snap_pass_mean_y",
		"between_snap_pass_var_dir_off",
		"between_snap_pass_var_dist_def",
		"between_snap_pass_var_dist_off",
		"between_snap_pass_var_speed",
		"between_snap_pass_var_x",
		"between_snap_pass_var_y",
		"closest_frames",
		"full_mean_dir_off",
		"full_mean_dist_def",
		"full_mean_dist_off",
		"full_mean_ratio",
		"full_mean_speed",
		"full_mean_x",
		"full_mean_y",
		"full_var_dir_off",
		"full_var_dist_def",
		"full_var_dist_off",
		"full_var_ratio",
		"full_var_speed",
		"full_var_x",
		"full_var_y"
	],
	"group_min": 2,
	"group_max": 5,
	"only_closest": 1,
	"select_group_by": "max_ari"
}